* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1623118176012-9b0c6fa0712d?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: white;
}

h1 {
  color: white;
  padding-bottom: 60px;
}

h2 {
  font-size: 6px;
  color: white;
}

.y-name {
  position: absolute;
  left: 30px;
  top: 130px;
  transform: rotate(-90deg);
}

.app {
  padding: 20px;
  height: 100vh;
}

.container {
  position: relative;
  margin: 100px auto;
  text-align: center;
  padding: 60px 0;
  background-color: #91ae92;
  width: 1000px;
  height: 600px;
  border-radius: 3px;
  box-shadow: 0 0 3px white;
  opacity: 0.9;
}

.canvas {
  position: relative;
}

.bar:hover {
  fill: white;
}

.link {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

pre {
  font-size: 10px;
}

#x-axis {
  fill: rgb(206, 206, 206);
}

#tooltip {
  color: white;
  padding: 20px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 0 7px white;
  font-size: 16px;
  transform: translate(100px, 70%);
  text-align: center;
}
